
{{ define "content" }}


<form id="search_bar" class="col s12" action="/books">
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">search</i>
            <input name="search_isbn" id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Search</label>
        </div>
    </div>
</form>

<table id="book_table">
    <tr>
        <th>Title</th>
        <th>ISBN</th>
    </tr>
    {{range .Library}}
        <tr>
            <td>{{.Title}}</td>
            <td>{{.ISBN}}</td>
            <td>
                <form action="/books/delete_handle">
                    <input type="hidden" name="isbn" value="{{.ISBN}}">
                    <button type="submit" class="btn-floating btn-small waves-effect waves-light red right" name="action">
                        <i class="material-icons">delete</i>
                    </button>
                </form>
            </td>
        </tr>
    {{ end }}
</table>
</br>
<a href="books/create" class="btn-floating btn-large waves-effect waves-light orange right"><i class="material-icons">add</i></a>

{{ end }}